@import '~antd/dist/antd.css';

$background-color: #003580;
$text-color: #fff;

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:hover {
  transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: $text-color;
  font-weight: normal;
}
