.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      display: flex;
      -webkit-box-shadow: 4px 1px 17px -1px rgba(0, 0, 0, 0.29);
      box-shadow: 4px 1px 17px -1px rgba(0, 0, 0, 0.29);
      padding: 10px;
      margin: 20px;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50px;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;

          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                  cursor: pointer;
              }
            }

            input {
              width: 100%;
              border: none;
              padding: 5px;
              border-bottom: 1px solid gray;
            }
          }

          button {
              width: 150px;
              padding: 10px;
              border: none;
              background-color: teal;
              color: white;
              cursor: pointer;
              margin-top: 10px;
              border-radius: 5px;

              &:disabled {
                background-color: rgba(0, 128, 128, 0.299);
                cursor: not-allowed;
              }
          }
        }
      }
    }
  }
}
